text {
  text-length: 99;
  fill: "white";
  font-family: System-Regular;
  font-size: 32;
  font-weight: regular;
}

#status-message {
  text-anchor: middle;
  x: 50%;
  y: 50%+5;
}

#weight-logged {
  text-anchor: middle;
  x: 50%;
  y: 50%+20;
  font-size: 64;
}

#weight-about-to-be-logged {
  text-anchor: middle;
  x: 50%;
  y: 50%+20;
  font-size: 64;
}

#date {
  text-anchor: middle;
  x: 50%;
  y: 30%;
}

#btn-add {
  display: "none";
}

#btn-save {
  display: "none";
}

#btn-increment {
  display: "none";
}

#btn-decrease {
  display: "none";
}

#error-icon {
  display: "none";
  fill: "fb-red";
  width: 40;
  height: 40;
  x: 10;
  y: 10;
}

#spinner {
  x: 10;
  y: 10;
  width: 40;
  height: 40;
  fill: "fb-white";
}

#bmi {
  text-anchor: middle;
  x: 50%;
  y: 70%+20;
}